/* CSS reset */
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{display:block;}
audio,canvas,video{display:inline-block;*display:inline;*zoom:1;}
audio:not([controls]){display:none;}
[hidden]{display:none;}
html{font-size:100%;overflow-y:scroll;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
body{margin:0;font-size:13px;line-height:1.231;}
body,button,input,select,textarea{font-family:sans-serif;color:#333;}
a{color:#00e;}
a:visited{color:#551a8b;}
a:hover{color:#06e;}
a:hover,a:active{outline:0;}
abbr[title]{border-bottom:1px dotted;}
b,strong{font-weight:bold;}
blockquote{margin:1em 40px;}
dfn{font-style:italic;}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0;}
ins{background:#ff9;color:#000;text-decoration:none;}
mark{background:#ff0;color:#000;font-style:italic;font-weight:bold;}
pre,code,kbd,samp{font-family:monospace,monospace;_font-family:'courier new',monospace;font-size:1em;}
pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word;}
q{quotes:none;}
q:before,q:after{content:"";content:none;}
small{font-size:85%;}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}
sup{top:-0.5em;}
sub{bottom:-0.25em;}
ul,ol{margin:1em 0;padding:0 0 0 40px;}
dd{margin:0 0 0 40px;}
nav ul,nav ol{list-style:none;list-style-image:none;margin:0;padding:0;}
img{border:0;-ms-interpolation-mode:bicubic;vertical-align:middle;}
svg:not(:root){overflow:hidden;}
figure{margin:0;}
form{margin:0;}
fieldset{border:0;margin:0;padding:0;}
label{cursor:pointer;}
legend{border:0;*margin-left:-7px;padding:0;}
button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle;}
button,input{line-height:normal;*overflow:visible;}
table button,table input{*overflow:auto;}
button,input[type="button"],input[type="reset"],input[type="submit"]{cursor:pointer;-webkit-appearance:button;}
input[type="checkbox"],input[type="radio"]{box-sizing:border-box;}
input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}
input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}
textarea{overflow:auto;vertical-align:top;resize:vertical;}
input:invalid,textarea:invalid{background-color:#f0dddd;}
table{border-collapse:collapse;border-spacing:0;}
td{vertical-align:top;}
a[href^='tel']{color:inherit;}
.ir{display:block;border:0;text-indent:-999em;overflow:hidden;background-color:transparent;background-repeat:no-repeat;text-align:left;direction:ltr;}
.ir br{display:none;}
.hidden{display:none !important;visibility:hidden;}
.visuallyhidden{border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px;}
.visuallyhidden.focusable:active,.visuallyhidden.focusable:focus{clip:auto;height:auto;margin:0;overflow:visible;position:static;width:auto;}
.invisible{visibility:hidden;}
.clearfix:before,.clearfix:after{content:"";display:table;}
.clearfix:after{clear:both;}
.clearfix{zoom:1;}

/* Theme styling */
/* @group Structural Customization */


#header {
	clear: both;
}

#header .inner {
	padding-top: 15px;
	padding-bottom: 20px;
}

#header .header_extras {
	float: right;
}

#navigation {
	clear: none;
}

/* Give the main wrapper a separate background color */

#wrap {}

/* Footer Styles */

#footer {
	border-top: 1px solid #d6d6d6;
	font-size: .9em;
}
#footer.noborder {
	border: none;
	padding-top: 0;
}

#footer #credits {
	font-size: 11px;
	color: #9f9f9f;
}

a.themeauthor {
	display: block;
	width: 75px;
	height: 12px;
	margin: 0px auto;
	float: right;
	text-decoration: none;
	text-indent: -9999em;
	background: url(../images/icons/stlogo.png) no-repeat right center;
}


/* @end */

/* @group Header */

#site-title {
	margin: 0;
	padding: 0;
	font-size: 60px;
	line-height: 55px;
	letter-spacing: -1px;
}

#header div#site-title a,
#header h1#site-title,
#header h1#site-title a {
	margin: 0;
	padding: 0;
	line-height: 55px;
	text-decoration: none;
	font-weight: bold;
	letter-spacing: -2px;
	text-shadow: 0px 1px 0px #FFF;
}

#header #site-title a:hover {
	color: #3253ad;
}	

/* Header Tagline */

#header span.site-desc {
	margin: 0;
	padding: 0;
	font-size: 24px;
	line-height: 28px;
	color: #7d7d7d;
	letter-spacing: -1px;
}

/* Image Header */
#header #site-title.graphic {float: left;}
#header #site-title.graphic a {
	text-indent: -9999em;
	display: inline-block;
	background-repeat: no-repeat;
	background-position: left;
}
#header span.site-desc.graphic {
	display: none;
}


/* @end */

/* @group Navigation Bar */

#navigation {float: left;}
#navigation ul {

    position: relative;
    behavior: url("./wp-content/themes/skeleton/PIE.php");
}
	

#navigation ul li {
	background-image: none;
    position: relative;
    behavior: url("./wp-content/themes/skeleton/PIE.php");
}

#navigation ul li a {
	background-image: none;
	color: #fff;
	padding: 10px 15px;
	text-decoration: none;
	display: block;
	font-weight: bold;
}

/* Navbar Hover Links */

#navigation ul li:hover a,
#navigation ul li a:hover {
	color: #eec673;
    position: relative;
    behavior: url("./wp-content/themes/skeleton/PIE.php");
}

#navigation ul li:hover li a {
	color: #595959;
	font-weight: normal;
}

/* Navbar Active Links */

#navigation ul li.active a {
	color: #333;
	background: #fff;
	text-shadow: 1px 1px 0px #fff;
	border-bottom: 1px solid #fff;
}


/* Nav Sublevel */

#navigation ul.sub-menu {
 	background: -moz-linear-gradient(270deg, #FCFCFC, #ECECEC) repeat scroll 0 0 transparent;
 	background: -webkit-linear-gradient(270deg, #FCFCFC, #ECECEC) repeat scroll 0 0 transparent;
    border-color: #EAEAEA #F5F5F5 #F5F5F5 #F5F5F5;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
     border-radius: 5px 5px 5px 5px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

#navigation ul.sub-menu li {
	border: none;
}

/* Nav Sublevel Links */

#navigation ul.sub-menu li a {
	background: #f0f0f0;
	padding: 5px 0px 5px 8px;
	height: 32px;
	line-height: 32px;
	border-radius: 0;
	min-width: 210px;
	border-bottom: none;
	position: static;
    behavior: none;
}

/* Nav Sublevel Hover */

#navigation ul.sub-menu li a:hover {
	background: #fff;
	border-bottom: none;
}


/* @end */

.widget_seatosun_releases_widget {background: url(../images/releases_title.png) no-repeat top; width: 180px;}
.widget_seatosun_releases_widget .release {background: url(../images/featuredrelease_bg.png) no-repeat top; height: 68px; width: 180px; color: #ffffff;}

.widget h2.widgettitle {color: #eec673; font-size: 12px; padding: 10px 0 0 34px;}

.widget_seatosun_social_widget {background: url(../images/comm_bg.png) no-repeat center; height: 133px; width: 180px;}

.widget_seatosun_radio_widget {background: url(../images/radio_bg.png) no-repeat center; height: 109px; width: 180px;}
.widget_seatosun_radio_widget .track-title { color: #eec673; font-size: 11px; padding: 0 0 0 7px; height: 17px; width: 170px; overflow: hidden; white-space: nowrap;}
.player-controls { padding: 0 0 0 5px; width:170px;}
.player-controls .track-list {background: url(../images/radio_tracks.png) no-repeat center; height: 36px; width: 33px; float: left; position: relative;  z-index: 99;}
.player-controls .previous {background: url(../images/radio_rw.png) no-repeat center; height: 36px; width: 33px; float: left; position: relative;  z-index: 99;}
.player-controls .play-pause {background: url(../images/radio_play.png) no-repeat center; height: 36px; width: 36px; float: left; position: relative;  z-index: 99;}
.player-controls .next{background: url(../images/radio_ff.png) no-repeat center; height: 36px; width: 33px; float: left; position: relative;  z-index: 99;}
.player-controls .volume{background: url(../images/radio_volume.png) no-repeat center; height: 36px; width: 33px; float: left; position: relative;  z-index: 99;}

/* Contact Form 7 Styling */
.wpcf7 .watermark {
	color: #999 !important;
}
::-webkit-input-placeholder {
	color: #999;
}
:-moz-placeholder {
	color: #999;
}
.sidebar {
	padding: 0;
	margin-top: 0;
	margin-bottom: 0;
	list-style-type: none;
}
.entry-content a {
	color: #15c;
	text-decoration: none;
}
.entry-content .alignleft, .entry-content .alignright, .entry-content .aligncenter {
	display: block;
}
.entry-content .alignleft {
	float: left;
}
.entry-content .alignright {
	float: right;
}
.entry-content .aligncenter {
	margin-left: auto;
	margin-right: auto;
}
.wpcf7 .wpcf7-form-control-wrap {
	display: block;
	position: relative;
	z-index: 1;
}
.wpcf7 .wpcf7-submit {
	margin-top: 7px;
}
.wpcf7 .wpcf7-response-output {
	clear: both;
	margin: 0;
	padding: 0.4em 1em;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
	-webkit-box-shadow: 1px 1px 6px rgba(0,0,0,0.4);
	-moz-box-shadow: 1px 1px 6px rgba(0,0,0,0.4);
	box-shadow: 1px 1px 6px rgba(0,0,0,0.4);
}
.wpcf7 .wpcf7-not-valid-tip {
	padding-left: 10px;
	width: 260px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
	-webkit-box-shadow: 1px 1px 6px rgba(0,0,0,0.4);
	-moz-box-shadow: 1px 1px 6px rgba(0,0,0,0.4);
	box-shadow: 1px 1px 6px rgba(0,0,0,0.4);
}
.wpcf7 .wpcf7-mail-sent-ok, .wpcf7 .wpcf7-mail-sent-ng, .wpcf7 .wpcf7-spam-blocked {
	color: #fff;
}
.wpcf7 .wpcf7-mail-sent-ok {
	background: #398f14 !important;
	text-shadow: 1px 1px #060;
}
.wpcf7 .wpcf7-mail-sent-ng {
	background: #f00 !important;
	text-shadow: 1px 1px #900;
}
.wpcf7 .wpcf7-spam-blocked {
	background: #ffa500 !important;
	text-shadow: 1px 1px #c80;
}
.wpcf7 .wpcf7-validation-errors {
	color: #363600;
	border-color: #fff181 !important;
	background: #fff181 !important;
	text-shadow: 1px 1px #d7cc67;
}

/* Basic print styling */
@media print {
	* {
		background: transparent !important;
		color: black !important;
		text-shadow: none !important;
		filter: none !important;
		-ms-filter: none !important;
	}
	a, a:visited {
		text-decoration: underline;
	}
	a[href]:after {
		content: " (" attr(href) ")";
	}
	abbr[title]:after {
		content: " (" attr(title) ")";
	}
	.ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
		content: "";
	}
	pre, blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}
	thead {
		display: table-header-group;
	}
	tr, img {
		page-break-inside: avoid;
	}
	img {
		max-width: 100% !important;
	}
	p, h2, h3 {
		orphans: 3;
		widows: 3;
	}
	h2, h3 {
		page-break-after: avoid;
	}

}

